.container{
    flex:1;
    overflow-y:auto;

    display:flex;
    flex-direction:column;

    padding:16px;
}

.empty{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}