.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.xs {
  width: 28px;
  height: 28px;
}

.sm {
  width: 40px;
  height: 40px;
}

.md {
  width: 56px;
  height: 56px;
}

.lg {
  width: 72px;
  height: 72px;
}

.xl {
  width: 96px;
  height: 96px;
}
.placeholder{
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        var(--color-primary),
        var(--color-primary-dark)
    );

    color:white;

    font-weight:700;

    user-select:none;
}