.layout {
  width: 100%;
  max-width: 1100px;

  min-height: 100vh;

  margin: 0 auto;

  padding: 24px 24px 90px;

  box-sizing: border-box;

  background: var(--color-background);
}


/* =========================================
   CONTENIDO INTERNO
========================================= */

.content {
  width: 100%;
  padding: 24px 20px;

  box-sizing: border-box;
}


/* =========================================
   MÓVIL
========================================= */

@media (max-width: 480px) {
  .layout {
    width: 100%;

    max-width: 430px;

    padding: 16px 16px 90px;
  }

  .content {
    padding: 0;
  }
}