.container{
    display:flex;
    flex-direction:column;
    gap:24px;

    padding-bottom:120px;
}

.joinContainer{
    position:sticky;
    bottom:16px;

    background:var(--color-background);

    padding-top:16px;
}