.card{
    background:white;

    border-radius:18px;

    padding:24px;

    display:flex;
    flex-direction:column;
    gap:18px;
}

.card h2{
    margin:0;
    margin-bottom:24px;
    font-size:20px;
}

.item{
    display:flex;
    gap:16px;

    margin-bottom:24px;

    align-items:flex-start;
}

.item:last-child{
    margin-bottom:0;
}
.item svg{
    color:var(--color-primary);

    flex-shrink:0;

    margin-top:2px;
}

.item div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.item strong{
    font-size:15px;
}

.item span{
    color:#666;

    line-height:1.5;
}