.sectionHeader{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

    margin:34px 0 18px;

}

.title{

    font-size:22px;

    font-weight:700;

}

.subtitle{

    margin-top:6px;

    color:var(--color-text-secondary);

    font-size:14px;

}

.link{

    display:flex;

    align-items:center;

    gap:4px;

    color:var(--color-primary);

    font-weight:700;

    font-size:14px;

    transition:.2s;

}

.link:hover{

    opacity:.7;

}

.link svg{

    width:16px;

    height:16px;

}
.searchSection{

    margin-top:28px;

    margin-bottom:10px;

}